<!DOCTYPE html>
<html>
<head>
<title>addCover</title>
</head>

<body>
    <h2>ADD COVER</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Length
          </td>
          <td>
            <input type="text" name="length">
          </td>
        </tr>

        <tr>
          <td class="label">
            Breadth
          </td>
          <td>
            <input type="text" name="breadth">
          </td>
        </tr>
        <tr>
          <td class="label">
            GSM
          </td>
          <td>
            <input type="text" name="gsm">
          </td>
        </tr>
        <tr>
          <td class="label">
           costcoverSheet\kg
          </td>
          <td>
            <input type="text" name="ccspk">
          </td>
        </tr>
        <tr>
          <td class="label">
            PrintingCost\Ream
          </td>
          <td>
            <input type="text" name="pcpr">
          </td>
        </tr>
        <tr>
          <td class="label">
            LaminationDiscountinPercent - %
          </td>
          <td>
            <input type="text" name="ld">
          </td>
        </tr>
      </table>
      <input type="submit" value="add">
  </form>
</body>
</html>

