<!DOCTYPE html>
<html>
<head>
<title>addProduct</title>
</head>

<body>
    <h2>ADD PRODUCT</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Product Name
          </td>
          <td>
            <input type="text" name="product_name">
          </td>
        </tr>
        <tr>
          <td class="label">
            Product Number
          </td>
          <td>
            <input type="text" name="product_no">
          </td>
        </tr>
        <tr>
          <td class="label">
            Pages
          </td>
          <td>
            <input type="text" name="pages">
          </td>
        </tr>
        <tr>
          <td class="label">
            Length
          </td>
          <td>
            <input type="text" name="length">
          </td>
        </tr>
        <tr>
          <td class="label">
            Breadth
          </td>
          <td>
            <input type="text" name="breadth">
          </td>
        </tr>
        <tr>
          <td class="label">
            PageSheet_ID
          </td>
          <td>
            <input type="text" name="psid">
          </td>
        </tr>
        <tr>
          <td class="label">
           Pages\Sheet
          </td>
          <td>
            <input type="text" name="pps">
          </td>
        </tr>
        <tr>
          <td class="label">
            CoverSheet_ID
          </td>
          <td>
            <input type="text" name="csid">
          </td>
        </tr>
        <tr>
          <td class="label">
            Cover\CoverSheet
          </td>
          <td>
            <input type="text" name="cpcs">
          </td>
        </tr>
        <tr>
          <td class="label">
            Miscellaneous Cost
          </td>
          <td>
            <input type="text" name="ms">
          </td>
        </tr>
        <tr>
          <td class="label">
            Labour Cost
          </td>
          <td>
            <input type="text" name="lc">
          </td>
        </tr>
        <tr>
          <td class="label">
            Profit%
          </td>
          <td>
            <input type="text" name="profit">
          </td>
        </tr>
      </table>
      <input type="submit" value="add">
  </form>
</body>
</html>

