<!DOCTYPE html>
<html>
<head>
<title>addSheet</title>
</head>

<body>
    <h2>ADD SHEET</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Length
          </td>
          <td>
            <input type="text" name="length">
          </td>
        </tr>

        <tr>
          <td class="label">
            Breadth
          </td>
          <td>
            <input type="text" name="breadth">
          </td>
        </tr>
        <tr>
          <td class="label">
            GSM
          </td>
          <td>
            <input type="text" name="gsm">
          </td>
        </tr>
        <tr>
          <td class="label">
           Ruling/kg
          </td>
          <td>
            <input type="text" name="rpk">
          </td>
        </tr>
        <tr>
          <td class="label">
            sheetCost/kg
          </td>
          <td>
            <input type="text" name="scpk">
          </td>
        </tr>
      </table>
      <input type="submit" value="add">
  </form>
</body>
</html>

