<!DOCTYPE html>

<html>
<head>
<title>coverForProduct</title>
</head>

<body>
	<div class="options">
		<div class="add">
			<button type="button" onclick="location.href='Cover/addCover';" Style="width:200px;height:100px" value="addCover">ADD</button>
		</div>
		<div class="update">
			<button type="button" onclick="location.href='Cover/updateCover';" Style="width:200px;height:100px" value="updateCover">UPDATE</button>
		</div>
		<div class="delete">
			<button type="button" onclick="location.href='Cover/deleteCover';" Style="width:200px;height:100px" value="deleteCover">DELETE</button>
		</div>
		<div class="display">
			<button type="button" onclick="location.href='Cover/displayCover';" Style="width:200px;height:100px" value="displayCover">DISPLAY</button>
		</div>
	</div>

</body> 
</html>