<!DOCTYPE html>

<html>
<head>
<title> Welcome to Appollo papers Costing Homepage </title>
</head>

<body>
	<h2>Welcome</h2>
	<br><br>
	<div class="options" align=>
<div class="Sheet">
	<button type="button" onclick="location.href='/Sheet';"style="width:200px;height:100px" value="Sheet">Sheet</button>
</div>
<div class="Cover">
	<button type="button" onclick="location.href='/Cover';" style="width:200px;height:100px" value="Cover">Cover</button>
</div>
<div class="Product">
	<button type="button" onclick="location.href='/Product';" style="width:200px;height:100px" value="Prodcut">Product</button>
</div>
</div>
</body>
</html>