<!DOCTYPE html>

<html>
<head>
<title>Product</title>
</head>

<body>
	<div class="options">
		<div class="add">
			<button type="button"  onclick="location.href='Product/addProduct';"  Style="width:200px;height:100px" value="addProduct">ADD</button>
		</div>
		<div class="update">
			<button type="button"  onclick="location.href='Product/updateProduct';" Style="width:200px;height:100px" value="updateProduct">UPDATE</button>
		</div>
		<div class="delete">
			<button type="button" onclick="location.href='Product/deleteProduct';"  Style="width:200px;height:100px" value="deleteProduct">DELETE</button>
		</div>
		<div class="display">
			<button type="button"  onclick="location.href='Product/displayProduct';" Style="width:200px;height:100px" value="displayProduct">DISPLAY</button>
		</div>
	</div>

</body> 
</html>