<!DOCTYPE html>

<html>
<head>
<title>sheetInUse</title>
</head>

<body>
	<div class="options">
		<div class="add">
			<button type="button" onclick="location.href='Sheet/addSheet';" Style="width:200px;height:100px" value="addSheet">ADD</button>
		</div>
		<div class="update">
			<button type="button" onclick="location.href='Sheet/updateSheet';" Style="width:200px;height:100px" value="updateSheet">UPDATE</button>
		</div>
		<div class="delete">
			<button type="button" onclick="location.href='Sheet/deleteSheet';" Style="width:200px;height:100px" value="deleteSheet">DELETE</button>
		</div>
		<div class="display">
			<button type="button" onclick="location.href='Sheet/displaySheet';" Style="width:200px;height:100px" value="displaySheet">DISPLAY</button>
		</div>
	</div>

</body> 
</html>